# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [2]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [3]:
titanic_df = pd.read_csv("titanic.csv", index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Просмотрите первые 6 строк

In [4]:
titanic_df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [5]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [6]:
titanic = pd.read_csv('titanic.csv')
sex_count = titanic['Sex'].value_counts()
print(sex_count)

Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [8]:
titanic = pd.read_csv('titanic.csv')
pclass_distribution = titanic['Pclass'].value_counts()
print("Распределение по классам для всех пассажиров:")
print(pclass_distribution)

pclass_men = titanic[titanic['Sex'] == 'male']['Pclass'].value_counts()
print("\nРаспределение по классам для мужчин:")
print(pclass_men)


pclass_women = titanic[titanic['Sex'] == 'female']['Pclass'].value_counts()
print("\nРаспределение по классам для женщин:")
print(pclass_women)


men_second_class = titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)].shape[0]
print(f"\nКоличество мужчин 2-го класса: {men_second_class}")

Распределение по классам для всех пассажиров:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение по классам для мужчин:
Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение по классам для женщин:
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Количество мужчин 2-го класса: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [9]:

titanic = pd.read_csv('titanic.csv')

median_fare = round(titanic['Fare'].median(), 2)
std_fare = round(titanic['Fare'].std(), 2)

print(f"Медиана платежей (Fare): {median_fare}")
print(f"Среднеквадратичное отклонение платежей (Fare): {std_fare}")

Медиана платежей (Fare): 14.45
Среднеквадратичное отклонение платежей (Fare): 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [10]:
titanic = pd.read_csv('titanic.csv')

group_under_30 = titanic[titanic['Age'] < 30]
group_over_60 = titanic[titanic['Age'] > 60]

survival_under_30 = group_under_30['Survived'].mean()
survival_over_60 = group_over_60['Survived'].mean()

print(f"Доля выживших среди пассажиров младше 30 лет: {survival_under_30:.2f}")
print(f"Доля выживших среди пассажиров старше 60 лет: {survival_over_60:.2f}")

Доля выживших среди пассажиров младше 30 лет: 0.41
Доля выживших среди пассажиров старше 60 лет: 0.23

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [11]:

titanic = pd.read_csv('titanic.csv')

group_men = titanic[titanic['Sex'] == 'male']
group_women = titanic[titanic['Sex'] == 'female']


survival_men = group_men['Survived'].mean()
survival_women = group_women['Survived'].mean()


print(f"Доля выживших среди мужчин: {survival_men:.2f}")
print(f"Доля выживших среди женщин: {survival_women:.2f}")

Доля выживших среди мужчин: 0.19
Доля выживших среди женщин: 0.74

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [22]:
import pandas as pd
titanic = pd.read_csv('titanic.csv')
male = titanic[titanic['Sex'] == 'male']
name = male['Name'].str.split(" ").str[2]
most_common_name = name.mode().iloc[0]

print(f"{most_common_name} Самое популярное имя")

William Самое популярное имя



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [24]:
mean_age = titanic_df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(mean_age)

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [25]:
titanic = pd.read_csv('titanic.csv')

titanic = titanic.dropna(subset=['Age'])

mean_age_survived = titanic[titanic['Survived'] == 1]['Age'].mean()
mean_age_not_survived = titanic[titanic['Survived'] == 0]['Age'].mean()

print(f"Средний возраст спасённых пассажиров: {mean_age_survived:.2f}")
print(f"Средний возраст погибших пассажиров: {mean_age_not_survived:.2f}")
print(f"Средний возраст погибших выше спасённых? {mean_age_not_survived > mean_age_survived}")

Средний возраст спасённых пассажиров: 28.34
Средний возраст погибших пассажиров: 30.63
Средний возраст погибших выше спасённых? True

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?